<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="methods">
	<groups>
		<run>
			<include name="first"/>
		</run>
	</groups>

	<test name="test1">
		<classes>
			<class name="appium_runner.WebTableClass"/>
		</classes>
	</test>
</suite>